:root {
    --c-brand: rgb(0, 191, 255);
    --c-brand-light: rgb(0, 191, 255);
    --vp-c-brand-lighter: rgb(0, 191, 255);
    --vp-c-brand-dark: rgb(0, 158, 211);
    --vp-c-brand-darker: rgb(0, 158, 211);
  }