:root {
    --vp-c-brand: rgb(84, 141, 212);
    --vp-c-brand-light: rgb(84, 141, 212);
    --vp-c-brand-lighter: rgb(0, 191, 255);
    --vp-c-brand-dark: rgb(31, 73, 125);
    --vp-c-brand-darker: rgb(31, 73, 125);
  }